<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dimplom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col">
            <p>Редактировние ответов к вопросу</p>
        <a class="btn btn-info btn-sm" role="button" href="/tests?id={{ question[1] }}" style="margin-top: 5%;">Перейти к списку вопосросов теста</a><Br>
            <b>{{ question[2] }}</b>
            <ul class="list-group">
                {% if answers %}
                    {% for answer in answers %}
                        <li class="list-group-item">
                            <span style="float: left">{{ answer[2] }} - id {{ answer[0] }}</span>
                            <span style="float: right">
                            <form method="post">
                                <input hidden name="answ_del" value="{{ answer[0] }}">
                                <button class="btn btn-danger btn-sm" type="submit">Удалить</button>
                            </form>
                        </span>
                        </li>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert" style="margin-top: 2%;margin-bottom: 2%;">
                        Список пуст.
                    </div>
                {% endif %}
            </ul>
            <form method="post" class="border rounded shadow" style="margin-top: 1%;margin-bottom: 1%;padding: 1%;">
                <input class="form-control-plaintext" type="text" value="Формулировка:" readonly="">
                <input hidden name="question" value="{{ question[0] }}">
                <input class="form-control" type="text" name="add_answer">
                <input class="form-control-plaintext" type="text" value="Количесвто балов по компетенциям:" readonly="">
                {% for competence in competencies %}
                        {{ competence[1] }}:<input type="number" class="form-control" name="points-{{ competence[0] }}">
                {% endfor %}

                <button class="btn btn-success btn-block" type="submit" style="margin-top: 1%;margin-bottom: 1%;">
                    Добавить вариатн ответа
                </button>
            </form>
        </div>
    </div>
</div>
</body>

</html>