<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dimplom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <form action="" class="d-xl-flex justify-content-xl-center align-items-xl-center" method="post">
            <div class="col d-xl-flex align-content-start flex-wrap align-items-xl-center">

                <p style="margin-bottom: 0;">Напрвление обучения:</p><select class="custom-select custom-select-md"
                                                                             name="direction"
                                                                             style="margin-bottom: 1%;">
                {% for direction in directions %}
                    <option {% if cur_dir == direction[0] %} selected {% endif %}
                                                             value="{{ direction[0] }}">{{ direction[1] }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-xl-5 d-xl-flex justify-content-xl-center align-items-xl-center">
                <button class="btn btn-primary d-xl-flex" type="submit">Получит список специальностей</button>
        </form>

    </div>
</div>
<div class="row">
    <div class="col">

        <ul class="list-group">
            {% if specialty %}
                {% for spec in specialty %}
                    <li class="list-group-item"><span style="float:left;"><a
                            href="/competence?id={{ spec[0] }}">{{ spec[1] }} - id {{ spec[0] }}</a></span>
                        <span class="pull-right" style="float:right;">
                            <form action="" method="post">
                                <input hidden name="del_spec" value="{{ spec[0] }}">
                                <button class="btn btn-danger btn-sm" type="submit">Удалить</button>
                            </form>
                        </span>
                    </li>
                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert" style="margin-top: 2%;margin-bottom: 2%;">
                    Список пуст. Либо вы не получитли список, либо тут ничего нет.
                </div>
            {% endif %}
        </ul>

        <form method="POST" class="border rounded shadow" style="margin-top: 1%;margin-bottom: 1%;padding: 1%;">
            <div style="text-align: center "><h4>Добавить специаьность</h4></div>
            <select class="custom-select custom-select-md"
                    name="speciality_add_dir_id"
                    style="margin-bottom: 1%;">
                {% for direction in directions %}
                    <option {% if cur_dir == direction[0] %} selected {% endif %}
                                                             value="{{ direction[0] }}">{{ direction[1] }}</option>
                {% endfor %}
            </select>
            <input class="form-control-plaintext" type="text" value="Имя специальности:" readonly="">
            <input class="form-control" type="text" name="speciality_add">
            <button class="btn btn-success btn-block" type="submit" style="margin-top: 1%;margin-bottom: 1%;">
                Добавить
                специальность
            </button>
        </form>

        <form method="POST" class="border rounded shadow" style="margin-top: 1%;margin-bottom: 1%;padding: 1%;">
            <div style="text-align: center "><h4>Добавить направление</h4></div>
            <input class="form-control-plaintext" type="text" value="Имя направления:" readonly="">
            <input class="form-control" type="text" name="direction_add">
            <button class="btn btn-success btn-block" type="submit" style="margin-top: 1%;margin-bottom: 1%;">
                Добавить
                направление
            </button>
        </form>

        <form method="POST" class="border rounded shadow" style="margin-top: 1%;margin-bottom: 1%;padding: 1%;">
            <div style="text-align: center "><h4>Удалить направление</h4></div>
                        <select class="custom-select custom-select-md"
                    name="del_dir_id"
                    style="margin-bottom: 1%;">
                {% for direction in directions %}
                    <option {% if cur_dir == direction[0] %} selected {% endif %}
                                                             value="{{ direction[0] }}">{{ direction[1] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-danger btn-block" type="submit" style="margin-top: 1%;margin-bottom: 1%;">
                Удалить
                направление
            </button>
        </form>

    </div>
</div>
</div>
</body>

</html>