<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dimplom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
</head>

<body>
<div class="container">
        <div class="row">
            <div class="col"><div data-ride="carousel" class="carousel slide" id="carousel-1" data-interval="false">
    <div role="listbox" class="carousel-ianner">
        {% for question in questions %}
        <div class="carousel-item {% if loop.index == 1%} active {% endif %}">
		{% if loop.index == 1%}<form method="post" action=""><input hidden name="check_test" value="{{ question[0] }}">{% endif %}
			 <div class="container">
				<div class="row">
					<div class="col">
						<h3 class="text-center border rounded justify-content-around" style="font-size: 30px;padding: 0.3%;">Вопрос №{{ loop.index }}</h3>
						<h4>{{ question[2] }}</h4>
						<div class="row" id="answers" style="border: 0px; margin-bottom:1%;">
							<div class="col">
								<div>
									<ul class="list-group">
                                    {%  for answer in answers[question[0]] %}
										<li class="list-group-item">
											<span class="tag tag-default tag-pill pull-xs-right"><input class="ml-auto" type="{% if question[3] == 2 %}checkbox{% elif question[3] == 1 %}radio{% endif %}" style="width: 1.5rem;height: 1.5rem;margin-right: 1%;" name="{{ answer[0] }}"></span>
												{{ answer[1] }}
										</li>
                                    {% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
                 {% if loop.index == loop.length%}<button class="btn btn-info border rounded shadow-sm" style="align-self:end;" type="submit">Завершить тест</button>{% endif %}

			</div>
		</div>
        {% endfor %}

		</form>
    </div>

</div></div>
        </div>
        <div class="row">
            <div class="col">
                <nav class="bg-light border rounded shadow d-sm-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-lg-center justify-content-xl-center container-fluid">
                    <ul class="pagination pagination-lg">
                        <li class="page-item"><a class="page-link" href="#carousel-1" aria-label="Previous" role="button" data-slide="prev"><span aria-hidden="true">«Назад</span></a></li>
                        <!--{% for question in questions %}
                        <li class="page-item"><a class="page-link" href="#carousel-1" data-slide-to="{{ loop.index - 1}}">{{ loop.index }}</a></li>
                        {% endfor %}-->
                        <li class="page-item"><a class="page-link" href="#carousel-1" aria-label="Next" role="button" data-slide="next"><span aria-hidden="true">Вперед»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/highlight.min.js"></script>
</body>
</html>