<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
{% for result in results %}
    {{ competencies[result] }} = {{ results[result] }}<br>
{% endfor %}
</body>
</html>