<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dimplom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
</head>

<body class="vertical-center">
<div class="container" id="main-container">
    <div class="row" style="margin-bottom: 5%;">
        <div class="col text-center">
            <img src="{{ url_for('static', filename='assets/img/logo.png') }}" style="max-width: 20%;">
        </div>
    </div>
    <div class="row">
        <div class="col d-sm-flex justify-content-sm-center align-items-sm-center">
            <form class="border rounded shadow-lg" action="/signin_post" method="POST" style="padding: 3%;padding-bottom: 1%;min-width: 30%;">
                    {% if message != none %}
                        {% if message.code == "1" %}
                            <div class="alert alert-danger" role="alert">{{ message.text }}</div>
                        {% endif %}
                    {% endif %}
                <div class="form-group">
                    <label style="color: rgb(107,104,105);font-weight: bold;">Логин</label>
                    <input class="form-control" type="text" name="login" placeholder="Введите логин">
                </div>
                <div class="form-group">
                    <label style="color: rgb(107,104,105);font-weight: bold;">Пароль</label>
                    <input class="form-control" type="password" name="password" placeholder="Введите пароль">
                </div>
                <div class="form-group d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-top: 5%;">
                    <button class="btn btn-light border rounded shadow-sm btn-block" type="submit">Войти</button>
                </div>
                <div class="form-group text-right">
                    <a href="#">Забыли пароль?</a>
                </div>
                <div class="form-group text-right">
                    <a href="/signup">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>