<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dimplom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
</head>

<body>
  <div class="container">
        <div class="row">
            <div class="col">
                <p>Выбор теста для редактирования</p>
                <ul class="list-group">
                {% if specialties %}
                    {% for specialty in specialties %}
                    <li class="list-group-item">
                        <span><a href="?id={{ specialty[0] }}">{{ specialty[1] }} - id {{ specialty[0] }}</a></span>
                    </li>
                    {% endfor %}
                    {% else %}
                                    <div class="alert alert-info" role="alert" style="margin-top: 2%;margin-bottom: 2%;">
                    Список пуст.
                </div>
                {% endif %}
                </ul>
                <a class="btn btn-info btn-sm" role="button" href="/profile" style="margin-top: 5%;">Перейти к профилю</a>
            </div>
        </div>
    </div>
</body>

</html>