<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dimplom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <h1>Панель подтверждения заявок</h1>
            </div>
            <div class="col border rounded" style="padding: 2%;">
                <div class="row">
                    <div class="col-xl-12">
                        <p style="font-size: 20px;">{{ user["second_name"] }}</p>
                        <p style="font-size: 19px;">{{ user["first_name"] }}</p>
                        <div class="row">
                            <div class="col"><label class="col-form-label" style="font-style: normal;font-weight: bold;">{{ role[0] }}</label>
                                <p><a class="btn btn-info btn-sm" role="button" href="/profile" >Вернуться в профиль</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% if tickets %}
        {% for ticket in tickets %}
            <div class="row border rounded" id="element" style="margin-top: 2%;margin-bottom: 2%;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li>Имя: {{ ticket[1] }}</li>
                                    <li>Фамиилия: {{ ticket[2] }}</li>
                                    <li>Отчество: {{ ticket[3] }}</li>
                                    <li>Дата рождения: {{ ticket[4] }}</li>
                                    <li>E-mail: {{ ticket[8] }}</li>
                                    <li>Текущее место обучения: {{ ticket[5] }}</li>
                                    <li>Собирается поступать к нам: {{ ticket[6] }}</li>
                                    <li>Согласие на обработку персональных данных: {{ ticket[7] }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex align-items-xl-center"><em>{{ ticket[9] }}</em></div>
                            <div class="col offset-xl-0 d-xl-flex justify-content-xl-end align-items-xl-center">
                                <form action="/ticket_post" method="post"><input hidden name="id" value="{{ ticket[0] }}"><button class="btn btn-success" name="agree" type="submit">Принять</button><button class="btn btn-danger" name="disagree" type="submit">Отклонить</button></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-info" role="alert" style="margin-top: 2%;margin-bottom: 2%;">
        Заявки пока отстутвуют.
        </div>
    {% endif %}
    </div>
</body>

</html>