<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dimplom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>


</head>

<body style="margin: 2%;">
    <div class="container border rounded shadow-lg" style="padding: 1%;">
        <div class="row">
            <div class="col-sm-5 col-lg-5">
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin-bottom: 5%;">
                            <div class="col text-center" style="padding: 15px;padding-top: 0;"><img class="rounded-circle" src="{{ url_for('static', filename='assets/img/no-photo.gif') }}" width="100%" style="margin-top: 10%;"></div>
                            <div class="col text-left">
                                <h4>{{ user["second_name"] }}</h4>
                                <h4>{{ user["first_name"] }}</h4>
                                <h4>{{ user["middle_name"] }}</h4>
                                <hr>
                                {% if user["role"] in [1,3] %}
                                    <a href="/tickets">Обработать заявки</a><br>
                                    <hr>
                                    <a href="/directions">Панель редактирования направлений</a><br>
                                    <hr>
                                    <a href="/tests">Панель редактирования тестов</a><br>
                                {% endif %}
                                <hr>
                                <a href="#">Изменить данные</a>
                                <a class="btn btn-info btn-block btn-sm" role="button" href="/log_out" style="margin-top: 5%;">Выйти</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Пройти тест на профориентацию</button>

<div role="dialog" tabindex="-1" class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Выберите тест для прохождения</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            
			<form class="border rounded shadow-lg" style="padding: 3%;padding-bottom: 1%;min-width: 30%;" action="/pass_test" method="GET">
			<div class="modal-body">
			<div class="form-group"><label style="font-weight: bold;color: rgb(107,104,105);">Выберите направление </label>
                <select name="napravlenie"class="custom-select custom-select-lg" id="validationCustom03" onchange="ChangecatList()">
                        {% for direction in directions %}
                            <option value="{{ direction[0] }}">{{ direction[1] }}</option></optgroup>
                        {% endfor %}
                </select>
            </div>
    <div
        class="form-group"><label style="color: rgb(107,104,105);font-weight: bold;">Выберите тест</label><select required class="custom-select custom-select-lg" id="validationCustom04" name="prof"></select></div>
        
            </div>
            <div class="modal-footer">
			 <div class="form-group d-xl-flex justify-content-xl-center align-items-xl-center"
            style="margin-top: 1%;"><button class="btn btn-info border rounded shadow-sm btn-block" type="submit">Начать тестирование</button></div>
			</div>
			
        </div>
    </div>
</div></div>
                </div>
            {% if last_tests %}
                <div class="row">
                    <div class="col"><label class="col-form-label" style="font-size: 21px;font-weight: bold;color: rgb(93,99,105);">Ваши предыдущие результаты</label></div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul>
                            {% for last_test in last_tests %}
                                <li><a href="/check_result?id={{ last_test[0] }}">{{ last_test_names[last_test[2]] }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    <script>
        var catAndActs = new Array({{ specialty[0][2] + 1}});
        {% for i in range(specialty[0][2] + 1) %}
            catAndActs['{{ i }}'] = []
        {% endfor %}
        {% for spec in specialty %}
            catAndActs['{{ spec[2] }}'].push(['{{ spec[1] }}','{{ spec[0] }}'])
        {% endfor %}
        var catList = document.getElementById("validationCustom03");
        var actList = document.getElementById("validationCustom04");
        var selCat = catList.options[catList.selectedIndex].value;
        while (actList.options.length) {
            actList.remove(0);
        }
        var cats = catAndActs[selCat];
        if (cats) {
            var i;
            for (i = 0; i < cats.length; i++) {
                var cat = new Option(cats[i][0], cats[i][1]);
                actList.options.add(cat);
            }
        }
        function ChangecatList() {
            var catList = document.getElementById("validationCustom03");
            var actList = document.getElementById("validationCustom04");
            var selCat = catList.options[catList.selectedIndex].value;
            while (actList.options.length) {
                actList.remove(0);
            }
            var cats = catAndActs[selCat];
            if (cats) {
                var i;
                for (i = 0; i < cats.length; i++) {
                    var cat = new Option(cats[i][0], cats[i][1]);
                    actList.options.add(cat);
                }
            }
        }
    </script>
</body>

</html>